.home-container {
    padding: 20px;
    height: calc(100vh - 20px);
    background-color: #f0f8ff; /* Light blue background */
}

.home-header {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF; /* Blue color for title */
}

.home-content {
    display: flex;
    justify-content: space-around;
}

.home-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.home-list {
    list-style: none;
    padding: 0;
}

.home-card {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.home-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.home-card h3 {
    margin: 0;
    color: #007BFF;
}

.home-card p {
    margin: 5px 0;
}
