.service-list-container {
    padding: 20px;
    background-color: #f0f8ff;
}

.service-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-list-title {
    margin: 0;
    color: #007BFF;
}

.service-type-filter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-type-filter select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    margin-left: 5px; 
    white-space: nowrap; 
}

.button:hover {
    background-color: #0056b3;
}

.service-list-table {
    width: 100%;
    border-collapse: collapse;
}

.service-list-table th,
.service-list-table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.service-list-table th {
    background-color: #007BFF;
    color: white;
}

.service-list-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
